entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "gobject-introspection", "gtk3", "lcms2", "libimagequant", "libjpeg", "libsodium", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "qhull", "tcl", "tk", "zlib"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 39919141
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python restart_bot.py"

[[workflows.workflow]]
name = "Run Dashboard"
author = 46500081
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run_dashboard.py"
